{cover_enabled, true}.
{deps, [{lager, ".*",
         {git, "git://github.com/basho/lager",
          %% 2.0.3 + fixed compilation issue on OTP 17.0
          "73f0806a0d70503d66d506b491f558ccec76154f"}},
        {bddr, ".*", {git, "git://github.com/pzel/bddr.git", "0b3892d314c"}},
        {elarm, ".*", {git, "git://github.com/esl/elarm.git", {tag, "0.3.0"}}},
        {gen_smtp, ".*", {git, "git://github.com/Vagabond/gen_smtp", "0d82ab84ace046"}}
       ]}.
{erl_opts, [% If erlang version is 18 or above, then an erlang_now_deprecated
            % macro will be created.
            {platform_define, "(?=^[0-9]+)(?!^17)", erlang_now_deprecated},
            {parse_transform, lager_transform}
           ]}.

