{erl_opts, [% If erlang version is 18 or above, then an erlang_now_deprecated
            % macro will be created.
            {platform_define, "(?=^[0-9]+)(?!^17)", erlang_now_deprecated},
            %%warnings_as_errors,
            {parse_transform, lager_transform}
           ]}.

{cover_enabled, true}.

{deps, [
    {lager    , ".*" , {git , "git://github.com/erlang-lager/lager" , {tag       , "3.5.2" }  }} ,
    {gen_smtp , ".*" , {git , "git://github.com/Vagabond/gen_smtp"  , "0.12.0"}} ,
    {elarm    , ".*" , {git , "git://github.com/esl/elarm.git"      , {tag       , "0.3.0"}}}
]}.
